In [1]:
import pandas as pd

In [7]:
citizens = {'1985':740120, '1995':744987, '2005': 756629, '2015':762508, '2019': 774839, '2023':804237}

citizens_series = pd.Series(data=citizens)

population_in_2005 = citizens_series['2005']

avg_1985_2023 = citizens_series.mean()

print(citizens_series.describe())

print('Cracow\'s population in 2005:' + str(population_in_2005) + '\n' + 
      'Average pupulation in Krakow between 1985 and 2023: ' + str(avg_1985_2023))

count         6.000000
mean     763886.666667
std       23344.075468
min      740120.000000
25%      747897.500000
50%      759568.500000
75%      771756.250000
max      804237.000000
dtype: float64
Cracow's population in 2005:756629
Average pupulation in Krakow between 1985 and 2023: 763886.6666666666