# SERIES
---

A **Series** is a 1-dimensional data structure. Each data point has an associated label. The collection of these labels is called an index.

## Creating Series from List

To create a Series, first import the Pandas library into your notebook.

In [2]:
import pandas as pd

Now, you can use the Pandas. To create a Series, you need a collection of data. Here is a list of the company's employees.

In [3]:
employees = ['Georgia','Edward','William','Jack','Juliet','Daisy','Frank']

Creating a Series is super easy. To create a Series named **ds**, just use a name of a data collection.

In [4]:
ds = pd.Series(data=employees)

To display the contents of a Series, simply use its name.

In [5]:
ds

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can also display the contents of a Series using the print function.

In [8]:
print(ds)

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can modify the collection of data and run the code cells again to create and display the Series.

### Tasks

Try to add an additional two employees to the list created earlier. Then, create and display Series once again.

In [11]:
employees.append('Cristiano')
employees.append('Sergio')

ds = pd.Series(data=employees)

ds

0       Georgia
1        Edward
2       William
3          Jack
4        Juliet
5         Daisy
6         Frank
7     Cristiano
8        Sergio
9     Cristiano
10       Sergio
11    Cristiano
12       Sergio
13    Cristiano
14       Sergio
dtype: object

Create your first Series called **components** containing the names of the five components of your computer. Then, display the contents of the Series. To complete the task, add a cell(s) with Python code below.

In [13]:
c = ['hard disk', 'memory', 'cpu', 'gpu', 'keyboard']

components = pd.Series(data=c)

components

0    hard disk
1       memory
2          cpu
3          gpu
4     keyboard
dtype: object

## Creating Series from Dictionary

To create a Series, as a collection of data you can also use a dictionary, which consists of key and value pairs of information.

In [14]:
tools_in_stock = {'hammer':15, 'drill':4, 'screwdriver':23, 'saw':7, 'knife':9}
tools = pd.Series(data=tools_in_stock)
tools

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
dtype: int64

### Tasks

Modify the data collection by adding two additional tools. Then, create and display Series once again.

In [16]:
tools_in_stock['nails'] =100
tools_in_stock['shovel']=5

tools = pd.Series(data=tools_in_stock)
tools

hammer          15
drill            4
screwdriver     23
saw              7
knife            9
nails          100
shovel           5
dtype: int64

## Data Statistics

Pandas includes a number of functions to calculate various statistics. You can, for example, calculate the sum of tools in stock using sum(), or their arithmetic mean using mean().

In [17]:
tools.sum()

163

You can also generate descriptive statistics (tools.describe()) that quantitatively describes or summarizes features from a collection of information.

### Tasks

Calculate the average number of tools in stock.

In [18]:
avg = tools.mean()

avg

23.285714285714285

Generate descriptive statistics for the tools in stock.

In [19]:
print('Sum of tools: ' + str(tools.sum()) + '\n' + 'Average number of tools: ' + str(tools.mean()))

Sum of tools: 163
Average number of tools: 23.285714285714285

## Data Limitation

You can specify a single value in Series.

In [20]:
tools['drill']

4

You can also specify a subset of values [from:to].

In [21]:
tools['drill':'saw']

drill           4
screwdriver    23
saw             7
dtype: int64

For the selected values you can then calculate various statistics.

In [22]:
tools['drill':'saw'].sum()

34

## Creating Your First Series from Dictionary

### Tasks

Create a Series called **restaurant** containing the number of restaurant customers on each of the seven days of the week.

In [29]:
people = {'Monday': 0, 'Tuesday': 5, 'Wednesday': 10, 'Thursday': 10, 'Friday': 15, 'Saturday': 20, 'Sunday': 25}

customers_on_each_day = pd.Series(data=people)

With the created data series, follow the instructions below.

Display the contents of the Series.

In [30]:
customers_on_each_day

Monday        0
Tuesday       5
Wednesday    10
Thursday     10
Friday       15
Saturday     20
Sunday       25
dtype: int64

Display the total number of restaurant customers.

In [31]:
customers_on_each_day.sum()

85

Display the median number of restaurant customers.

In [32]:
customers_on_each_day.mean()

12.142857142857142

Display descriptive statistics.

In [33]:
print('Total number of customers for week 1: ' + str(customers_on_each_day.sum()) + '\n' + 'Average number of customers: ' + str(customers_on_each_day.mean()))

Total number of customers for week 1: 85
Average number of customers: 12.142857142857142

Display the list of restaurant customers on business days.

In [38]:
customers_on_each_day['Monday':'Friday']

Monday        0
Tuesday       5
Wednesday    10
Thursday     10
Friday       15
dtype: int64

Display the average number of customers visiting the restaurant during working days.

In [35]:
customers_on_each_day['Tuesday':'Sunday']

Tuesday       5
Wednesday    10
Thursday     10
Friday       15
Saturday     20
Sunday       25
dtype: int64

Display the list of restaurant customers on the weekend.

In [36]:
customers_on_each_day['Saturday':'Sunday']

Saturday    20
Sunday      25
dtype: int64

Display the total number of customers visiting the restaurant over the weekend.

In [37]:
customers_on_each_day['Saturday':'Sunday'].sum()

45